@    using Library.Application.DTOs.Book;
    using Library.Application.DTOs.Books;
@model BookViewModel
@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Picture
        </dt>
        <dd class="col-sm-10">
            @if (Model.Picture != null && Model.Picture.Length > 0)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Picture)" alt="Book Picture" style="max-width: 200px; max-height: 300px; width: auto; height: auto;" />
            }
            else
            {
                <p>No Picture available</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>

<div>
    <h4>Authors</h4>
    <ul>
        @foreach (var author in Model.Authors)
        {
            <li>@author</li>
        }
    </ul>
</div>

<div>
    <h4>Publishers</h4>
    <ul>
        @foreach (var publisher in Model.Publishers)
        {
            <li>@publisher</li>
        }
    </ul>
</div>

<div>
    <h4>Translators</h4>
    <ul>
        @foreach (var translator in Model.Translators)
        {
            <li>@translator</li>
        }
    </ul>
</div>

<div>
    <a asp-action="Update" asp-route-id="@Model?.Id" class="btn btn-success">Update</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
