@using Library.EndPoint.Areas.adminPanel.Models;
@model LendViewModel
@* @using X.PagedList
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<LendViewModel> *@

@{
    ViewData["Title"] = "loans List";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-controller="Borrows" asp-action="Index" class="form-inline" role="form" method="get">
@*                     <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.BookTitle"></label>
                        <input class="form-control" asp-for="SearchModel.BookTitle" placeholder="Book Name">
                    </div> *@
@*                     <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.Code"></label>
                        <input class="form-control" asp-for="SearchModel.Code" placeholder="Code">
                    </div>*@
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.BookId"></label>
                        <select class="form-control" asp-for="SearchModel.BookId" asp-items="Model.Books">
                            <option value="0">Book</option>
                        </select>
                    </div> 
                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">Search</button>
                    <a class="btn btn-primary waves-effect waves-light m-l-10" asp-action="Index">Show All</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>

                                    <th>Book ID</th>
                                    <th>Member ID</th>
                                    <th>Employee ID</th>
                                    <th>Borrow Date</th>
                                    <th>Ideal Return Date</th>
                                    <th>Return Employee ID</th>
                                    <th>Return Date</th>
                                    <th>Description</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Loans)
                                {
                                    <tr>
                                        <td>@item.Id</td>

                                        <td>@item.BookId</td>
                                        <td>@item.MemberId</td>
                                        <td>@item.EmployeeId</td>
                                        <td>@item.CreationDate</td>
                                        <td>@item.IdealReturnDate</td>
                                        <td>@item.ReturnEmployeeId</td>
                                        <td>@item.ReturnDate</td>
                                        <td>@item.Description</td>
                                        <td>

                                            <a class="btn btn-info pull-right m-rl-5" asp-action="Details" asp-route-id="@item.Id">
                                                <i class="fa fa-info"></i>Details
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
@*                         Page : @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                        new PagedListRenderOptions {

                        DisplayLinkToIndividualPages = true,
                        DisplayPageCountAndCurrentLocation = false,
                        MaximumPageNumbersToDisplay = 7,

                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                        }) *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
