@using LibBook.DomainContracts.Borrow;
@* @model List<BorrowDto> *@

@using X.PagedList
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<LoanDto>

@{
    ViewData["Title"] = "Overdue Loans";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>

                                    <th>Book Title</th>
                                    <th>Member</th>
                                    <th>Employee</th>
                                    <th>Borrow Date</th>
                                    <th>Ideal Return Date</th>
                                    <th>Return Employee</th>
                                    <th>Return Date</th>
                                    <th>Description</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>

                                        <td>@item.BookTitle</td>
                                        <td>@item.MemberId</td>
                                        <td>@item.EmployeeId</td>
                                        <td>@item.CreationDate</td>
                                        <td>@item.IdealReturnDate</td>
                                        <td>@item.ReturnEmployeeId</td>
                                        <td>@item.ReturnDate</td>
                                        <td>@item.Description</td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Return" asp-route-id="@item.Id">
                                                <i class="fa fa-redo"></i>Return
                                            </a>

                                            <a class="btn btn-info pull-right m-rl-5" asp-action="Details" asp-route-id="@item.Id">
                                                <i class="fa fa-info"></i>Details
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        Page : @Html.PagedListPager(Model, page => Url.Action("OverdueLoans", new { page = page }),
                        new PagedListRenderOptions {

                        DisplayLinkToIndividualPages = true,
                        DisplayPageCountAndCurrentLocation = false,
                        MaximumPageNumbersToDisplay = 7,

                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
