@    using Library.Application.DTOs.BookCategory;
    using Library.Application.DTOs.BookCategories;
@model List<BookCategoryDto>

@{
    ViewData["Title"] = "Book Categories";
}

<div class="card">
    <div class="card-body">
        <div class="card-text">
            <a class="btn btn-primary btn-lg" asp-action="Create">Create Book Category</a>
        </div>
        <div class="p-2">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>

                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>
                                <a class="btn btn-success pull-right m-rl-5" asp-action="Update" asp-route-id="@item.Id">
                                    <i class="fa fa-edit"></i>Update
                                </a>
                                <a class="btn btn-warning pull-right m-rl-5" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="fa fa-edit"></i>Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
