@using Identity.Domain.Entities.Role
@using Library.EndPoint.Areas.adminPanel.Models;
@using Microsoft.AspNetCore.Identity;
@model UserRoleViewModel
@inject RoleManager<ApplicationRole> _roleManager
@{
    ViewData["Title"] = "Assign Role";
}

<div class="row">
    <div class="col-6">
        <div class="card border-dark">
            <div class="row">
                <div class="col-md-4 bg-dark rounded-left">
                    <h5 class="card-title m-3">Assign Role To Member</h5>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <form asp-action="AssignRole" method="post">
                            <div class="text-danger">@ViewBag.RoleExistError</div>
                            <div class="text-success">@ViewBag.RoleAssigned</div>
                            <div class="form-group">
                                <label asp-for="UserId" class="control-label">Choose a Member</label>
                                <select class="form-control" asp-for="UserId"
                                        asp-items='new SelectList(Model.Users, "Id", "UserName")'>
                                    <option value="">Choose a Member</option>
                                </select>
                                <span asp-validation-for="UserId" class="error"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RoleId" class="control-label">Choose a Role</label>
                                <select class="form-control" asp-for="RoleId"
                                        asp-items='new SelectList(Model.Roles, "Id", "Name")'>
                                    <option value="">Choose a Role</option>
                                </select>
                                <span asp-validation-for="RoleId" class="error"></span>
                            </div>
                            <div>
                                <a class="btn btn-secondary waves-effect" asp-action="Index">Back to list</a>
                                <button type="submit" class="btn btn-info waves-effect waves-light">Assign</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card border-dark">
            <div class="card-header">

                <h5 class="card-title m-3">User Roles List</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.UserRoles)
                        {
                            @if (!user.RoleName.Contains("Member") || user.RoleName.Count > 1)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>
                                        @if (user.RoleName.Count > 0)
                                        {
                                            <ul>
                                                @foreach (var roleName in user.RoleName)
                                                {
                                                    var role = await _roleManager.FindByNameAsync(roleName);
                                                    if (role != null)
                                                    {
                                                        <li class="d-flex mb-1">
                                                            <form asp-controller="Users" asp-action="RemoveUserFromRole" asp-route-userId="@user.Id" asp-route-roleId="@role.Id">
                                                                <div class="input-group w-auto ">
                                                                    <div class="btn-group-toggle" >
                                                                        <label class="btn btn-primary btn-sm" style="border-radius: 0;">
                                                                            @roleName
                                                                        </label>
                                                                    </div>
                                                                    <div class="input-group-prepend">
                                                                        <button class="btn btn-danger btn-sm" id="basic-addon1">&times;</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <span>No roles assigned</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>