@using LibBook.DomainContracts.Book;
@model BookViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublisherId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TranslatorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TranslatorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id" class="btn btn-success">Update</a> |
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>