@using Library.Application.DTOs.Lends
@using Library.EndPoint.MVC.Helper;

@model PaginatedList<LendDto>

@{
    ViewData["Title"] = "Returned Loans";
}

<div class="card border-primary">
    <div class="card-body">
        <h5 class="card-title"> Returned loans </h5>
        <div class="card-text">all returned loans visable to show</div>
        <a class="btn btn-primary m-3" asp-action="Lending">
            Add Book Lend
        </a>
        <table id="datatable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>

                    <th>Book Title</th>
                    <th>Member</th>
                    <th>Employee</th>
                    <th>Lend Date</th>
                    <th>Ideal Return Date</th>
                    <th>Return Employee</th>
                    <th>Return Date</th>
                    <th>Description</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Id</td>

                        <td>@item.BookTitle</td>
                        <td>@item.MemberName</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.CreationDate</td>
                        <td>@item.IdealReturnDate</td>
                        <td>@item.ReturnEmployeeName</td>
                        <td>@item.ReturnDate</td>
                        <td>@item.Description</td>
                        <td>
                            <a class="btn btn-info pull-right m-rl-5" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fa fa-info"></i>Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="ReturnedLoans" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                                        <a class="page-link" asp-action="ReturnedLoans" asp-route-page="@i">@i</a>
                                    </li>
                                }
                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="ReturnedLoans" asp-route-page="@(Model.PageIndex + 1)">Next</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer">
        <span class="card-text">Total Count: <b>@Model.TotalCount</b></span>
    </div>
</div>
